<div class="news">
  <style>
body {
  font-family: 'Times New Roman', serif;
}
</style>

    <font  size="+1">
  <h1>Research directions</h1>


<p>Using insights from neuroengineering to understand and control artifical neural networks. (What I am working on at the moment)</p>

<ul style="list-style: disc;">
  <li>It is usually admitted that neural networks, whether artificial or biological, have properties that make them difficult to control and understand, but a lot of recent works for exemple the incredible <a href="https://distill.pub/2020/circuits/">circuits</a> thread by Chris Olah's team, seem to show that it is possible to gain an almost complete understanding of the computations performed by an artificial neural network. </li>

  <br>

  <li>It quickly becomes apparent that the techniques used to control and investigate artificial and biological neural networks have much in common, In the same way that computational neuroscience attempts to discover the general computational principles underlying neural networks independently of their substrate, I am interested in understanding the general principles that allow us to understand and control neural networks to perform a certain behavior.</li>

</ul>


  <p>Using simulation-based inference to develop bidirectional BCIs and understand/engineer the brain.</p>
   <ul style="list-style: disc;">
  <li>To understand something, you have to interact with it. The reason we still don't fully understand the brain is as much due to its complexity as to the difficulty of interacting with it. Deep learning provides two satisfying tools to solve this issue here first of all it is becoming  <a href="https://proceedings.neurips.cc/paper/2019/hash/eeaebbffb5d29ff62799637fc51adb7b-Abstract.html"> the best tool to model the behavior of some part of the brain</a>, allieviating the cost of using biological models but moreover deep learning allows us to interact with complex data streams and simulations in way human couldn't before. </li>



  <br>

  <li>In this scenario, the brain is the generative model of interest, and the goal of the artificial agent (in this case the BCI) is to find the latent variables in this generative model in order to bring the system to a desired neural state. More than increasing our understanding of the brain, this will improve our understanding of how the AI is supposed to interact with it to achieve the desired neural states.</li>

  




</ul>


<p>Using AI for neural protheses</p>

<ul style="list-style: disc;">
  <li> Future neural interfaces will read and write population neural activity with high
spatial and temporal resolution ideally such devices must tune their function, based on stimulating and recording, to match the function of the circuit, many of the computational challenges these device will face make deep learning the perfect match. 

</li>

  <br>

  <li>We are already beginning to see impressive results; some laboratories have begun to try to take advantage of these technologies, for example the work of <a href="https://iopscience.iop.org/article/10.1088/1741-2552/aba8b1">Chichilnisky lab</a> and <a href="https://www.researchgate.net/publication/341315898_Neurolight_A_Deep_Learning_Neural_Interface_for_Cortical_Visual_Prostheses">Antonio Lozano</a> aim to use an artificial retina to restore vision to the blind by electrically stimulating retinal ganglion
cells, a lot of work is already using deep learning to decode the brain for robotic prosthetics, but this is just the beginning and there is still a lot of work to do.  </li>

</ul>

      </table>
    </div>
    
    </font>
</div>
